<% layout('layouts/boilerplate') -%>
<div class="row0">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method='POST' class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="invalid-feedback">
                    Please provide a valid title.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">£</span>
                    <input type="number" step="any" class="form-control" id="price" placeholder="0.00"
                           aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="invalid-feedback">
                    Please provide a valid description.
                </div>
            </div>
            <div class="mb-3">
                <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" id="image" multiple>
                    <label class="custom-file-label" for="image">Choose image(s)...</label>
                </div>
            </div>

            <button class="btn btn-success mb-3">Add Campground</button>
        </form>
        <div>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
</div>
